<toolbar>
    <button class="btn btn-primary" (click)="save()" *ngIf="actions.create == true && program.rowVersion == null || program.rowVersion != null && actions.edit == true ">
        <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
        <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Save' | translate }}</button>
</toolbar>

<h4>{{ 'label.SUMT01.ProgramNameDetail' | translate }}</h4>
<div class="row">
    <div class="col">
        <app-card header="{{ 'label.SUMT01.ProgramDetail' | translate }}">
            <div class="card-content">
                <form #pro [formGroup]="programDataSource.form">
                    <div class="row g-3">
                        <div class="col-md-3 col-sm-6">
                            <textbox formControlName="systemCode" class="text-center"  placeholder="{{ 'label.ALL.PleaseSelect' | translate }}">{{ 'label.SUMT01.SystemCode' | translate }}
                                <div class="invalid-pattern">
                                    {{ 'message.ID00005' | translate }}
                                </div>
                            </textbox>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <textbox formControlName="systemNameTH"  placeholder="{{ 'label.ALL.PleaseSelect' | translate }}">{{ 'label.SUMT01.SystemNameTH' | translate }}
                            </textbox>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <textbox formControlName="systemNameENG"  placeholder="{{ 'label.ALL.PleaseSelect' | translate }}">{{ 'label.SUMT01.SystemNameEN' | translate }}
                                <div class="invalid-pattern">
                                    {{ 'message.ID00005' | translate }}
                                </div>
                            </textbox>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <checkbox formControlName="active">
                                {{ 'label.ALL.Active' | translate }}
                            </checkbox>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <textbox formControlName="systemUrl"  placeholder="{{ 'label.ALL.PleaseSelect' | translate }}">{{ 'label.SUMT01.SystemUrl' | translate }}
                            </textbox>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <textbox formControlName="systemImage"  placeholder="{{ 'label.ALL.PleaseSelect' | translate }}">{{ 'label.SUMT01.SystemImage' | translate }}
                            </textbox>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <areabox formControlName="systemDescription"  placeholder="{{ 'label.ALL.PleaseSelect' | translate }}">{{ 'label.SUMT01.ProgramNameDetail' | translate }}
                            </areabox>
                        </div>
                    </div>
                </form>
            </div>
        </app-card>
    </div>
</div>
