<toolbar>
    <button class="btn btn-primary" (click)="save()">
        <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
        <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Save' | translate }}</button>
</toolbar>

<h4>{{ 'label.SUMT01.ProgramNameDetail' | translate }}</h4>
<div class="row">
    <div class="col">
        <app-card header="{{ 'label.SUMT01.ProgramDetail' | translate }}">
            <div class="card-content">
                <form [formGroup]="menuDataSource.form">
                    <div class="row g-3">
                        <div class="col-md-3 col-sm-6">
                            <textbox formControlName="menuCode">{{ 'label.SUMT01.MenuCode' | translate }}
                            </textbox>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <textbox formControlName="menuNameEn">{{ 'label.SUMT01.MenuNameEn' | translate }}
                            </textbox>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <textbox formControlName="menuNameTh">{{ 'label.SUMT01.MenuNameTh' | translate }}
                            </textbox>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <textbox formControlName="url">{{ 'label.SUMT01.Url' | translate }}
                            </textbox>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <textbox formControlName="icon">{{ 'label.SUMT01.Icon' | translate }}
                            </textbox>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <number formControlName="parentId">{{ 'label.SUMT01.ParentId' | translate }}
                            </number>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <number formControlName="sequence">{{ 'label.SUMT01.Sequence' | translate }}
                            </number>
                        </div>
                    </div>
                </form>
            </div>
        </app-card>
    </div>
</div>
