<div class="table-container" [ngStyle]="{'max-height.px': containerHeight}">
  <table mat-table [dataSource]="dataSource" [multiTemplateDataRows]="multiTemplateDataRows" aria-describedby="table-server">
    <ng-content></ng-content>
    @if (expandRow) {
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef columnWidth="50px"></th>
        <td mat-cell *matCellDef="let row;let i = index;">
          <button class="btn btn-sm text-secondary" (click)="toggle(row)">
            <i class="fas fa-chevron-right" [class.fa-rotate-90]="expandedElement.has(row)"></i>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let row" [attr.colspan]="columns.length">
          <div class="example-element-detail" [@detailExpand]="expandedElement.has(row) ? 'expanded' : 'collapsed'">
            <ng-container *ngTemplateOutlet="detailTemplate; context:{ row: row }"></ng-container>
          </div>
        </td>
      </ng-container>
    }

    <!-- Custom row definitions to be provided to the wrapper table. -->
    @if (rowDefs?.length === 0) {
      <ng-container>
        <tr mat-row *matRowDef="let row; columns: columns;let i = dataIndex; let n = index;"
          [class.odd]="((multiTemplateDataRows ? i : n)+1)%2 != 0" [class.highlight]="currentRow === row "
          (click)="highlight(row)" onkeypress=""></tr>
      </ng-container>
    }
    @if (expandRow) {
      <ng-container>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; let i = dataIndex; let n = index;"
          class="example-detail-row" [class.detail-odd]="((multiTemplateDataRows ? i : n)+1)%2 != 0"
          [class.collapsed]="!expandedElement.has(row)" [class.detail-highlight]="currentRow === row"
          (click)="highlight(row)" onkeypress=""></tr>
      </ng-container>
    }
    <!-- Row shown when there is no matching data that will be provided to the wrapper table. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="columns.length" class="text-center text-mute">
        {{ 'label.ALL.NoData' |
        translate }}</td>
    </tr>
  </table>
</div>
@if(dataSource.page$ | async; as page) {
  <mat-paginator [pageIndex]="page.number" [length]="page.count"
    [pageSize]="page.size" [pageSizeOptions]="pageSizeOption" (page)="dataSource.fetch($event)" showFirstLastButtons>
  </mat-paginator>
}