// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$ssclean-accent-palette: (
    50: #e0f2f1,
    100: #b2dfdb,
    200: #80cbc4,
    300: #4db6ac,
    400: #26a69a,
    500: #009688,
    600: #00897b,
    700: #00796b,
    800: #00695c,
    900: #004d40,
    A100: #a7ffeb,
    A200: #64ffda,
    A400: #1de9b6,
    A700: #00bfa5,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: $light-primary-text
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ssclean-primary: mat.m2-define-palette(mat.$m2-brown-palette, 600, 500, 400);
$ssclean-accent: mat.m2-define-palette($ssclean-accent-palette, 700, 700, 700);

// The warn palette is optional (defaults to red).
$ssclean-warn: mat.m2-define-palette(mat.$m2-red-palette);

$ssclean-custom-level: mat.m2-define-typography-level(
    $font-family: $font-family-sans-serif,
    $font-weight: 500,
    $font-size: 14px,
    $line-height: 1,
    $letter-spacing: normal
);

$ssclean-typography: mat.m2-define-typography-config(
    $font-family: $font-family-sans-serif,
    $body-1: $ssclean-custom-level
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ssclean-theme: mat.m2-define-light-theme(
    (
        color: (
            primary: $ssclean-primary,
            accent: $ssclean-accent,
            warn: $ssclean-warn
        ),
        typography: $ssclean-typography
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ssclean-theme);
@include mat.typography-hierarchy($ssclean-typography);
