<toolbar>
    <button class="btn btn-primary" (click)="getreport()" *ngIf="actions.print == true">
        <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
        <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Report' | translate }}
    </button>
</toolbar>
<br>

<h4 style="padding-top: 10px;">{{ 'label.SURF01.ProgramName' | translate }}</h4>
<div class="row">
    <div class="col">
        <app-card>
            <div class="card-content">
                <form [formGroup]="reportForm">
                    <div class="row g-3">
                        <div class="col-md-6 col-sm-6">
                            <lookup formControlName="userNameFrom" [source]="userNameSource"
                                [onOpen]="onOpenUserNameLookup">
                                {{ 'label.SURF01.UserNameFrom' | translate }}
                            </lookup>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <lookup formControlName="userNameTo" [source]="userNameSource"
                                [onOpen]="onOpenUserNameLookup">
                                {{ 'label.SURF01.UserNameTo' | translate }}
                            </lookup>
                        </div>
                        <div class="col-md-6 col-sm-6" *ngIf="this.reportForm.controls['exportType'].value == 'xlsx'">
                            <select-input [items]="userAuthorityType"  formControlName="userAuthorityType"
                                placeholder="{{ 'label.ALL.PleaseSelect' | translate }}">{{ 'label.SURF01.UserAuthorityType' | translate }}
                            </select-input>
                        </div>
                        <div class="col-md-6 col-sm-6" *ngIf="this.reportForm.controls['exportType'].value != 'xlsx'" >
                            <select-input [items]="master.division"  formControlName="departmentFrom"
                                placeholder="{{ 'label.ALL.PleaseSelect' | translate }}">{{ 'label.SURF01.DepartmentFrom' | translate }}
                            </select-input>
                        </div>
                        <div class="col-md-6 col-sm-6" *ngIf="this.reportForm.controls['exportType'].value != 'xlsx'" >
                            <select-input [items]="master.division"  formControlName="departmentTo"
                                placeholder="{{ 'label.ALL.PleaseSelect' | translate }}">{{ 'label.SURF01.DepartmentTo' | translate }}
                            </select-input>
                        </div>
                        <div class="col-md-6 col-sm-6" *ngIf="this.reportForm.controls['exportType'].value == 'xlsx'"></div>
                        <div class="col-md-3 col-sm-6">
                            <radio formControlName="exportType" [items]="radioItems">
                                {{ 'label.SURF01.ExportType' | translate }}
                            </radio>
                        </div>
                    </div>
                </form>
            </div>
        </app-card>
    </div>
</div>
