<div class="row portal-container">
  <div class="col">
    <h4>{{ 'label.RPPM01.ProgramName' | translate }}</h4>
    <app-card>
      <div class="card-content">
        <div class="row">
          @for (item of systemCode; track $index) {
          <div class="card-item" [class.disabled]="!item.active || item.url === null"
            (click)="item.active && redirectPortal(item.url, item.systemCode)">
            <div class="card">
              <div class="card-tooltip">
                <mat-icon matTooltip="{{ item.description }}" matTooltipPosition="above" aria-label="Info"
                  class="info-icon">info</mat-icon>
              </div>
              <div class="card-icon">
                <img src="{{ item.image || defaultImage }}" alt="{{ item.name }}" />
              </div>
              <div class="card-name">{{ item.name }}</div>
              <div *ngIf="!item.active || item.url === null" class="unavailable-overlay">
                <span>Unavailable</span>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </app-card>
    <iframe [src]="canvaUrl | safeUrl" width="100%" height="600" style="border:none; border-radius:12px;"
      allowfullscreen>
    </iframe>
  </div>