<toolbar>
    <button class="btn btn-primary" (click)="save()" *ngIf="actions.create == true && program.rowversion == null || actions.edit == true && program.rowversion != null">
        <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
        <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Save' | translate }}</button>
</toolbar>
<h4>{{ 'label.DBMT04.BankDetail' | translate }}</h4>
<div class="row">
    <div class="col">
        <app-card>
            <div class="card-content">
                <form [formGroup]="programDataSource.form">
                    <div class="row g-3">
                        <div class="col-md-6 col-sm-6">
                            <textbox formControlName="bankcode" class="text-center" maxLength="5">{{
                                'label.DBMT03.BankCode' | translate }}
                            </textbox>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <textbox formControlName="transferbankcode">{{
                                'label.DBMT04.TransferBankCode' | translate }}
                                <div class="invalid-pattern">
                                    {{ 'message.ID00019' | translate }}
                                </div>
                            </textbox>
                        </div>
                        <div class="col-md-1 col-sm-1">
                            <checkbox formControlName="active">{{ 'label.ALL.Active' | translate }}
                            </checkbox>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <textbox formControlName="banknametha">{{
                                'label.DBMT04.BankNameTH' | translate }}
                                <div class="invalid-pattern">
                                    {{ 'message.ID00005' | translate }}
                                </div>
                            </textbox>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <textbox formControlName="banknameeng">{{
                                'label.DBMT04.BankNameEN' | translate }}
                                <div class="invalid-pattern">
                                    {{ 'message.ID00005' | translate }}
                                </div>
                            </textbox>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </app-card>
        <h4>{{ 'label.DBMT03.BranchDescription' | translate }}</h4>
        <app-card>
            <div class="card-content">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col text-end">
                                <button type="button" (click)="add()" class="btn btn-primary" *ngIf="actions.create == true && program.rowversion == null || actions.edit == true && program.rowversion != null">
                                    <i class="fas fa-plus-circle"></i> {{ 'label.ALL.Add' | translate }}
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <app-table [dataSource]="BankBranch" 
                                [columns]="actions.delete == true ? ['branchcode', 'branchnametha', 'branchnameeng','active','action'] : ['branchcode', 'branchnametha', 'branchnameeng','active']">
                                        <ng-container matColumnDef="branchcode">
                                            <th mat-header-cell *matHeaderCellDef class="header-cell" >
                                              {{ 'label.DBMT14.BranchCode' | translate }}
                                              <span class="text-danger"> *</span>
                                            </th>
                                            <td mat-cell *matCellDef="let row"  >
                                              <div [formGroup]="row.form" >
                                                <textbox [hasLabel]="false" [small]="true" formControlName="branchcode" class="text-center"></textbox>
                                              </div>

                                            </td>
                                          </ng-container>

                                          <ng-container matColumnDef="branchnametha">
                                            <th mat-header-cell *matHeaderCellDef class="header-cell">
                                              {{ 'label.DBMT04.BranchNameTH' | translate }}
                                              <span class="text-danger"> *</span>
                                            </th>
                                            <td mat-cell *matCellDef="let row">
                                              <div [formGroup]="row.form">
                                                <textbox [hasLabel]="false" [small]="true" formControlName="branchnametha"></textbox>
                                              </div>

                                            </td>
                                          </ng-container>

                                          <ng-container matColumnDef="branchnameeng">
                                            <th mat-header-cell *matHeaderCellDef class="header-cell">
                                              {{ 'label.DBMT04.BranchNameEN' | translate }}
                                              <span class="text-danger"> *</span>
                                            </th>
                                            <td mat-cell *matCellDef="let row">
                                                <div [formGroup]="row.form">
                                                    <textbox [hasLabel]="false" [small]="true" formControlName="branchnameeng"></textbox>
                                                </div>

                                            </td>
                                          </ng-container>

                                          <ng-container matColumnDef="active">
                                            <th mat-header-cell *matHeaderCellDef class="header-cell">
                                              {{ 'label.DBMT04.Status' | translate }}
                                            </th>
                                            <td mat-cell *matCellDef="let row" class="text-center">
                                              <label class="datatable-checkbox">
                                                <div [formGroup]="row.form">
                                                    <checkbox [hasLabel]="false" [small]="true" formControlName="active"></checkbox>
                                                </div>
                                              </label>
                                            </td>
                                          </ng-container>

                                          <ng-container matColumnDef="action" *ngIf="actions.delete == true">
                                            <th mat-header-cell *matHeaderCellDef class="header-cell">
                                              {{ 'label.DBMT03.Action' | translate }}
                                            </th>
                                            <td mat-cell *matCellDef="let row" class="text-center">
                                              <button class="btn btn-outline-danger btn-sm" (click)="remove(row)">
                                                <i class="far fa-trash-alt"></i>
                                              </button>
                                            </td>
                                          </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="actions.delete == true ? ['branchcode', 'branchnametha', 'branchnameeng','active','action'] : ['branchcode', 'branchnametha', 'branchnameeng','active']"></tr>
                                  </app-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>
