<toolbar>
    <button *ngIf="(actions.edit == true && language.id == null) || (actions.create == true && language.id != null)"
        class="btn btn-primary" (click)="save()" [disabled]="saving">
        <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
        <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Save' | translate }}
    </button>
</toolbar>

<h4>{{ 'label.DBMT01.ProgramName' | translate }}</h4>
<mat-tab-group animationDuration="0ms">
    <mat-tab label="{{ 'label.DBMT01.LanguageDetail' | translate }}">
        <div class="row pt-3">
            <div class="col">
                <app-card header="{{ 'label.DBMT01.ProgramDetail' | translate }}">
                    <div class="card-content">
                        <form [formGroup]="languageDataSource.form">
                            <div class="row g-3">
                                <div class="col-lg-4 col-md-6">
                                    <textbox formControlName="languageCode">
                                        {{ 'label.DBMT01.LanguageCode' | translate }}
                                    </textbox>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <textbox formControlName="languageName">
                                        {{ 'label.DBMT01.LanguageName' | translate }}
                                    </textbox>
                                </div>
                                <div class="col-lg-4 col-md-6 ">
                                    <checkbox formControlName="isActive">
                                        {{ 'label.ALL.Active' | translate }}
                                    </checkbox>
                                </div>
                            </div>
                        </form>
                    </div>
                </app-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="{{ 'label.DBMT01.Translations' | translate }}" [disabled]="!language.id">
        <div class="row pt-3">
            <div class="col">
                <app-card header="{{ 'label.DBMT01.Translations' | translate }}">
                    <div class="card-menu">
                        <button class="btn btn-primary" (click)="addRow()">
                            <i class="fas fa-plus"></i> {{ 'label.ALL.Add' | translate }}
                        </button>
                    </div>
                    <div class="card-content">
                        <app-table server *ngIf="localizations" [dataSource]="localizations"
                            [columns]="actions.delete ? displayedColumns : displayedColumnsNodelete">
                            <ng-container matSort [matSortActive]="localizations.sortInfo.property"
                                [matSortDirection]="localizations.sortInfo.direction">
                                <ng-container matColumnDef="moduleName">
                                    <th mat-header-cell *matHeaderCellDef columnWidth="150px">{{
                                        'label.DBMT01.ModuleName' |
                                        translate }}</th>
                                    <td mat-cell *matCellDef="let row">
                                        <form [formGroup]="row.form">
                                            <textbox formControlName="moduleName"></textbox>
                                        </form>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="key">
                                    <th mat-header-cell *matHeaderCellDef columnWidth="250px">{{ 'label.DBMT01.Key' |
                                        translate }}</th>
                                    <td mat-cell *matCellDef="let row">
                                        <form [formGroup]="row.form">
                                            <textbox formControlName="key"></textbox>
                                        </form>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="value">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'label.DBMT01.Value' | translate }}</th>
                                    <td mat-cell *matCellDef="let row">
                                        <form [formGroup]="row.form">
                                            <textbox formControlName="value"></textbox>
                                        </form>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="action" *ngIf="actions.delete">
                                    <th mat-header-cell *matHeaderCellDef columnWidth="70px" class="text-center">{{
                                        'label.ALL.Delete' | translate }}</th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        <button class="btn btn-outline-danger btn-sm" (click)="removeRow(row)">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row
                                    *matHeaderRowDef="actions.delete == true ? displayedColumns : displayedColumnsNodelete">
                                </tr>
                            </ng-container>
                        </app-table>
                    </div>
                </app-card>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>