<h4>{{ 'label.DBMT01.ProgramName' | translate }}</h4>
<div class="row">
  <div class="col">
    <app-card>
      <div class="card-content">
        <div class="row">
          <div class="col-6">
          </div>
          <div class="col-6 text-end" *ngIf="actions.create == true ">
            <button class="btn btn-primary" (click)='add()'><i class="fas fa-plus-circle"></i>
              {{ 'label.ALL.Add' | translate }}
            </button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <app-table server [dataSource]="dataSource"
              [columns]="actions.delete == true ? displayedColumns : displayedColumnsNoDelete">
              <ng-container matSort [matSortActive]="dataSource.sortInfo.property"
                [matSortDirection]="dataSource.sortInfo.direction">
                <ng-container matColumnDef="languageCode">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header columnWidth="150px" class="text-center">
                    {{ 'label.DBMT01.LanguageCode' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row" class="text-center">
                    <a (click)="edit(row)" *ngIf="actions.edit == true" href="javascript:void(0)">{{ row.languageCode
                      }}</a>
                    <span *ngIf="actions.edit == false">{{ row.languageCode }}</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="languageName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header columnWidth="250px" class="text-center">
                    {{ 'label.DBMT01.LanguageName' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row" class="text-left">{{ row.languageName }}</td>
                </ng-container>
                <ng-container matColumnDef="isActive">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header columnWidth="100px" class="text-center">
                    {{ 'label.ALL.Active' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row" class="text-center">
                    <i *ngIf="row.isActive" class="fas fa-check"></i>
                  </td>
                </ng-container>
                <ng-container matColumnDef="action" *ngIf="actions.delete == true">
                  <th mat-header-cell *matHeaderCellDef columnWidth="100px" class="text-center">
                    {{ 'label.ALL.Delete' | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row" class="text-center">
                    <button class="btn btn-outline-danger btn-sm" (click)="remove(row)">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row
                  *matHeaderRowDef="actions.delete == true ? displayedColumns : displayedColumnsNoDelete"></tr>
              </ng-container>
            </app-table>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>