<toolbar>
    <button class="btn btn-primary" (click)="save()">
        <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
        <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Save' | translate }}
    </button>
</toolbar>

<h4>{{ 'label.POMT02.DetailTitle' | translate }}</h4>
<div class="row">
    <div class="col">
        <app-card [header]="'label.ALL.GeneralInfo' | translate">
            <div class="card-content">
                <form [formGroup]="itemDataSource.form">
                    <div class="row g-3">
                        <div class="col-md-4 col-sm-6">
                            <textbox formControlName="itemCode">{{ 'label.POMT02.ItemCode' | translate }}</textbox>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <select-input [items]="categories" bindLabel="displayName" bindValue="categoryCode"
                                formControlName="categoryCode">
                                {{ 'label.POMT02.Category' | translate }}
                            </select-input>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <number formControlName="leadTimeDays">{{ 'label.POMT02.LeadTimeDays' | translate }}
                            </number>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <textbox formControlName="itemNameTh">{{ 'label.POMT02.ItemNameTh' | translate }}</textbox>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <textbox formControlName="itemNameEn">{{ 'label.POMT02.ItemNameEn' | translate }}</textbox>
                        </div>
                        <div class="col-md-2 col-sm-6" *ngIf="!isPaper">
                            <number formControlName="purchasePrice" currency [scale]="4">
                                {{ 'label.POMT02.PurchasePrice' | translate }}
                            </number>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <number formControlName="minimumOrderQuantity" currency [scale]="4">
                                {{ 'label.POMT02.MinOrderQty' | translate }}
                            </number>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <textbox formControlName="unit">{{ 'label.POMT02.Unit' | translate }}</textbox>
                        </div>
                        <div class="col-md-2 col-sm-6 text-end d-flex align-items-center ">
                            <checkbox formControlName="active">{{ 'label.ALL.Active' | translate }}</checkbox>
                        </div>
                    </div>
                </form>
            </div>
        </app-card>

        <ng-container *ngIf="isPaper">
            <app-card [header]="'label.POMT02.PaperSizes' | translate" class="mt-3">
                <div class="card-content">
                    <form [formGroup]="itemDataSource.form">
                        <div formArrayName="sizes">
                            <div *ngFor="let size of sizes.controls; let i = index" [formGroupName]="i" class="card mb-3 border">
                                <div class="card-header bg-light d-flex justify-content-between align-items-center py-2">
                                    <h6 class="mb-0 text-primary"><i class="fas fa-ruler-combined me-2"></i>{{ 'label.POMT02.Size' | translate }} {{ i + 1 }}</h6>
                                    <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeSize(i)">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                                <div class="card-body py-2">
                                    <div class="row g-2 align-items-end">
                                        <div class="col-md-3 mt-0">
                                            <number formControlName="width" currency [scale]="2">
                                                {{ 'label.POMT02.Width' | translate }}
                                            </number>
                                        </div>
                                        <div class="col-md-3 mt-0">
                                            <number formControlName="length" currency [scale]="2">
                                                {{ 'label.POMT02.Length' | translate }}
                                            </number>
                                        </div>
                                    </div>
                                    
                                    <div class="mt-3">
                                        <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-2">
                                            <strong>{{ 'label.POMT02.Grams' | translate }}</strong>
                                            <button type="button" class="btn btn-sm btn-outline-primary" (click)="addGram(i)">
                                                <i class="fas fa-plus"></i> {{ 'label.POMT02.AddGram' | translate }}
                                            </button>
                                        </div>
                                        <div formArrayName="grams">
                                            <div *ngFor="let gram of grams(i).controls; let j = index" [formGroupName]="j" class="row g-2 mb-1">
                                                <div class="col-md-4 mt-0">
                                                    <number formControlName="gram" currency [scale]="2">
                                                        {{ 'label.POMT02.Gram' | translate }}
                                                    </number>
                                                </div>
                                                <div class="col-md-4 mt-0">
                                                    <number formControlName="purchasePrice" currency [scale]="4">
                                                        {{ 'label.POMT02.PurchasePrice' | translate }}
                                                    </number>
                                                </div>
                                                <div class="col-md-2 d-flex align-items-center mt-3">
                                                    <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeGram(i, j)">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2 text-center">
                            <button type="button" class="btn btn-outline-primary" (click)="addSize()">
                                <i class="fas fa-plus"></i> {{ 'label.POMT02.AddSize' | translate }}
                            </button>
                        </div>
                    </form>
                </div>
            </app-card>
        </ng-container>
    </div>
</div>