<toolbar>
    <button class="btn btn-primary" (click)="save()">
        <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
        <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Save' | translate }}
    </button>
</toolbar>

<h4>{{ 'label.POMT02.DetailTitle' | translate }}</h4>
<div class="row">
    <div class="col">
        <app-card [header]="'label.ALL.GeneralInfo' | translate">
            <div class="card-content">
                <form [formGroup]="itemDataSource.form">
                    <div class="row g-3">
                        <div class="col-md-4 col-sm-6">
                            <textbox formControlName="itemCode">{{ 'label.POMT02.ItemCode' | translate }}</textbox>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <select-input [items]="categories" bindLabel="displayName" bindValue="categoryCode"
                                formControlName="categoryCode">
                                {{ 'label.POMT02.Category' | translate }}
                            </select-input>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <number formControlName="leadTimeDays">{{ 'label.POMT02.LeadTimeDays' | translate }}
                            </number>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <textbox formControlName="itemNameTh">{{ 'label.POMT02.ItemNameTh' | translate }}</textbox>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <textbox formControlName="itemNameEn">{{ 'label.POMT02.ItemNameEn' | translate }}</textbox>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <number formControlName="purchasePrice" currency [scale]="4">
                                {{ 'label.POMT02.PurchasePrice' | translate }}
                            </number>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <number formControlName="minimumOrderQuantity" currency [scale]="4">
                                {{ 'label.POMT02.MinOrderQty' | translate }}
                            </number>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <textbox formControlName="unit">{{ 'label.POMT02.Unit' | translate }}</textbox>
                        </div>
                        <div class="col-md-2 col-sm-6" *ngIf="isPaper">
                            <number formControlName="width" currency [scale]="2">
                                {{ 'label.POMT02.Width' | translate }}
                            </number>
                        </div>
                        <div class="col-md-2 col-sm-6" *ngIf="isPaper">
                            <number formControlName="length" currency [scale]="2">
                                {{ 'label.POMT02.Length' | translate }}
                            </number>
                        </div>
                        <div class="col-md-2 col-sm-6 text-end d-flex align-items-center ">
                            <checkbox formControlName="active">{{ 'label.ALL.Active' | translate }}</checkbox>
                        </div>
                    </div>
                </form>
            </div>
        </app-card>
    </div>
</div>