<h4>Table</h4>
<div class="row">
    <div class="col">
        <app-card header="table">
            <div class="card-content">
                <app-table [dataSource]="dataSource" [expandRow]="true" [columns]="displayedColumns">
                    <ng-container matSort matSortActive="position" matSortDirection="desc">
                        <ng-template #detailTemplate let-row="row">
                            <div class="alert alert-primary w-100">
                                <form class="row g-3">
                                    <div class="col-md-6">
                                        {{ row.name }}
                                    </div>
                                </form>
                            </div>
                        </ng-template>
                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            <td mat-footer-cell *matFooterCellDef class="text-end" [attr.colspan]="3"> Total </td>
                        </ng-container>
                        <!-- Custom column definition to be provided to the wrapper table. -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header columnWidth="300px" class="require">
                                Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <!-- Weight Column -->
                        <ng-container matColumnDef="weight">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header columnWidth="300px"> Weight </th>
                            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                            <td mat-footer-cell *matFooterCellDef> {{ summary() }}</td>
                        </ng-container>

                        <!-- Color Column -->
                        <ng-container matColumnDef="symbol">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header columnWidth="300px"> Symbol </th>
                            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Delete</th>
                            <td mat-cell *matCellDef="let element">
                                <button class="btn btn-outline-danger btn-sm" (click)="remove(element)">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="header-row-first-group">
                            <th mat-header-cell *matHeaderCellDef colspan="3" class="text-center">
                                First group
                            </th>
                        </ng-container>
                        <ng-container matColumnDef="header-row-second-group">
                            <th mat-header-cell *matHeaderCellDef colspan="2" class="text-center">
                                Second group
                            </th>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="['header-row-first-group','header-row-second-group']"></tr>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-footer-row *matFooterRowDef="['position','weight']"></tr>
                    </ng-container>
                </app-table>
            </div>
        </app-card>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-card header="Table with selection">
            <div class="card-menu">
                <button type="button" class="btn btn-primary" (click)="show()">show</button>
            </div>
            <div class="card-content">
                <app-table [dataSource]="dataSourceSelection" [expandRow]="true" [columns]="displayedSelectColumns">
                    <ng-container matSort>
                        <ng-template #detailTemplate let-row="row">
                            <div class="alert alert-primary w-100">
                                <form class="row g-3">
                                    <div class="col-md-6">
                                        {{ row.name }}
                                    </div>
                                </form>
                            </div>
                        </ng-template>
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef class="text-center">
                                <checkbox [hasLabel]="false"
                                    [indeterminate]="selection.hasValue() && !selection.isAllSelected(dataSourceSelection.data)"
                                    [value]="selection.hasValue() && selection.isAllSelected(dataSourceSelection.data)"
                                    (afterChange)="selection.masterToggle(dataSourceSelection.data)"></checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row" class="text-center">
                                <checkbox [hasLabel]="false" [value]="selection.isSelected(row)"
                                    (afterChange)="selection.toggle(row)"></checkbox>
                            </td>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header columnWidth="80px"> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            <td mat-footer-cell *matFooterCellDef class="text-end" [attr.colspan]="4"> Total </td>
                        </ng-container>
                        <!-- Custom column definition to be provided to the wrapper table. -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header columnWidth="300px"> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <!-- Weight Column -->
                        <ng-container matColumnDef="weight">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header columnWidth="300px"> Weight </th>
                            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                            <td mat-footer-cell *matFooterCellDef> {{ summary() }}</td>
                        </ng-container>

                        <!-- Color Column -->
                        <ng-container matColumnDef="symbol">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header columnWidth="300px"> Symbol </th>
                            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Delete</th>
                            <td mat-cell *matCellDef="let element">
                                <button class="btn btn-outline-danger btn-sm" (click)="remove(element)">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="header-row-first-group">
                            <th mat-header-cell *matHeaderCellDef colspan="4" class="text-center">
                                First group
                            </th>
                        </ng-container>
                        <ng-container matColumnDef="header-row-second-group">
                            <th mat-header-cell *matHeaderCellDef colspan="2" class="text-center">
                                Second group
                            </th>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="['header-row-first-group','header-row-second-group']"></tr>
                        <tr mat-header-row *matHeaderRowDef="displayedSelectColumns"></tr>
                        <tr mat-footer-row *matFooterRowDef="['position','weight']"></tr>
                    </ng-container>
                </app-table>
            </div>
        </app-card>
    </div>
</div>