<toolbar>
    <button class="btn btn-primary" (click)="save()" [disabled]="saving"
        *ngIf="(actions.create == true && !process.id) || (actions.edit == true && process.id)">
        <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
        <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Save' | translate }}</button>
</toolbar>

<h4>{{ 'label.SUMT03.ProgramNameDetail' | translate }}</h4>
<div class="row">
    <div class="col">
        <app-card header="{{ 'label.SUMT03.ProcessDetail' | translate }}">
            <div class="card-content">
                <form [formGroup]="processDataSource.form">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <textbox formControlName="processName">{{ 'label.SUMT03.ProcessName' | translate }}
                            </textbox>
                        </div>
                        <div class="col-md-3">
                            <textbox formControlName="baseUom">{{ 'label.SUMT03.BaseUom' | translate }}</textbox>
                        </div>
                        <div class="col-md-3">
                            <select-input
                                [items]="[{value: 'ACTIVE', text: 'Active'}, {value: 'INACTIVE', text: 'Inactive'}]"
                                formControlName="status" placeholder="{{ 'label.ALL.PleaseSelect' | translate }}">
                                {{ 'label.ALL.Status' | translate }}
                            </select-input>
                        </div>
                        <div class="col-md-6">
                            <select-input [items]="master.processGroups" bindLabel="groupName" bindValue="id"
                                formControlName="groupId" placeholder="{{ 'label.ALL.PleaseSelect' | translate }}">
                                {{ 'label.SUMT03.ProcessGroup' | translate }}
                            </select-input>
                        </div>
                        <div class="col-md-6">
                            <select-input [items]="master.productionLocations" bindLabel="locationName" bindValue="id"
                                formControlName="locationId" placeholder="{{ 'label.ALL.PleaseSelect' | translate }}">
                                {{ 'label.SUMT03.Location' | translate }}
                            </select-input>
                        </div>
                    </div>
                </form>
            </div>
        </app-card>
    </div>
</div>

<style>
    /* Ensure inputs inside the system table don't have extra spacing */
    :host ::ng-deep .mat-table number,
    :host ::ng-deep .mat-table textbox {
        margin-bottom: 0;
    }

    :host ::ng-deep .mat-table td {
        padding: 0.5rem 0.5rem !important;
        vertical-align: middle !important;
    }

    :host ::ng-deep .mat-table th {
        background-color: #f8f9fa !important;
        color: #495057 !important;
        font-weight: 600 !important;
        padding: 0.75rem 0.5rem !important;
    }

    :host ::ng-deep .mat-table .form-group {
        margin-bottom: 0;
    }

    /* Center the delete button vertically relative to inputs */
    :host ::ng-deep .mat-column-action {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
</style>

<div class="row mt-3">
    <div class="col">
        <app-card header="{{ 'label.SUMT03.PricingTiers' | translate }}">
            <div class="card-menu">
                <button class="btn btn-primary btn-sm" (click)='addTier()'>
                    <i class="fas fa-plus-circle"></i> {{ 'label.ALL.Add' | translate }}
                </button>
            </div>
            <div class="card-content">
                <app-table [dataSource]="pricingTiersDataSource" [columns]="displayedColumns" [pagination]="false">
                    <ng-container matColumnDef="minQty">
                        <th mat-header-cell *matHeaderCellDef columnWidth="150px" class="text-center">
                            {{ 'label.SUMT03.MinQty' | translate }}<span class="text-danger"> *</span>
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-right" [formGroup]="row.form">
                            <number formControlName="minQty" [separator]="true" [hasLabel]="false"></number>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="maxQty">
                        <th mat-header-cell *matHeaderCellDef columnWidth="150px" class="text-center">
                            {{ 'label.SUMT03.MaxQty' | translate }}</th>
                        <td mat-cell *matCellDef="let row" class="text-right" [formGroup]="row.form">
                            <number formControlName="maxQty" [separator]="true" [hasLabel]="false"></number>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="fixedCost">
                        <th mat-header-cell *matHeaderCellDef columnWidth="150px" class="text-center">
                            {{ 'label.SUMT03.FixedCost' | translate }}<span class="text-danger"> *</span>
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-right" [formGroup]="row.form">
                            <number currency formControlName="fixedCost" [hasLabel]="false"></number>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="variableRate">
                        <th mat-header-cell *matHeaderCellDef columnWidth="150px" class="text-center">
                            {{ 'label.SUMT03.VariableRate' | translate }}<span class="text-danger"> *</span>
                        </th>
                        <td mat-cell *matCellDef="let row" class="text-right" [formGroup]="row.form">
                            <number currency formControlName="variableRate" [hasLabel]="false"></number>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="variableUnitLabel">
                        <th mat-header-cell *matHeaderCellDef class="text-center">{{ 'label.SUMT03.VariableUnitLabel' |
                            translate }}</th>
                        <td mat-cell *matCellDef="let row" class="text-left" [formGroup]="row.form">
                            <textbox formControlName="variableUnitLabel" [hasLabel]="false"></textbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef columnWidth="50px" class="text-center">
                            {{'label.ALL.Delete' | translate }}</th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <button class="btn btn-outline-danger btn-sm" (click)="removeTier(row)"
                                title="{{ 'label.ALL.Delete' | translate }}">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </app-table>
            </div>
        </app-card>
    </div>
</div>