<h4>{{ 'label.DBMT01.Position' | translate }}</h4>
<div class="row">
    <div class="col">
        <app-card>
            <div class="card-content">
                <div class="row">
                    <div class="col-6">
                        <app-search [value]="keyword" (search)="onSearch($event)"
                            placeholder="{{ 'label.DBMT02.SearchPlaceholder' | translate }}">
                        </app-search>
                    </div>
                    <div class="col-6 text-end" >
                        <button *ngIf="actions.create== true" class="btn btn-primary" (click)="add()"><i class="fas fa-plus-circle"></i>
                            {{ 'label.ALL.Add' | translate }}
                        </button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <app-table server [dataSource]="data" [columns]="actions.delete == false ? displayedColumnsNodelete : displayedColumns">
                            <ng-container matSort [matSortActive]="data.sortInfo.property" [matSortDirection]="data.sortInfo.direction">
                                <ng-container matColumnDef="PositionCode">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header columnWidth="189px" class="text-center">{{ 'label.DBMT02.PositionCode' | translate }}</th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        <a *ngIf="actions.verify== true || actions.edit== true" [routerLink]="['detail']" [state]="{ PositionCode: row.positionCode }">{{row.positionCode}}</a>
                                        <span *ngIf="actions.verify== false && actions.edit== false">{{row.positionCode}}</span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="PositionNameTha">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header columnWidth="250px" class="text-center">{{ 'label.DBMT02.NamePositionTh' | translate }}</th>
                                    <td mat-cell *matCellDef="let row" class="text-left">{{row.positionNameTha}}</td>
                                </ng-container>
                                <ng-container matColumnDef="PositionNameEng">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header columnWidth="182px" class="text-center">{{ 'label.DBMT02.NamePositionEn' | translate }}</th>
                                    <td mat-cell *matCellDef="let row" class="text-left">{{row.positionNameEng}}</td>
                                </ng-container>
                                <ng-container matColumnDef="Active">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header columnWidth="175px" class="text-center">{{ 'label.DBMT02.Active' | translate }}</th>
                                    <td mat-cell *matCellDef="let row" class="text-center"> <i *ngIf="row.active" class="fas fa-check"></i></td>
                                </ng-container>
                                <ng-container matColumnDef="Delete"  *ngIf="actions.delete == true ">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'label.ALL.Delete' | translate }}</th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        <button class="btn btn-outline-danger btn-sm" (click)="remove(row)">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="actions.delete == false ? displayedColumnsNodelete : displayedColumns "></tr>
                            </ng-container>
                        </app-table>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>